.wrapper {
  background-color: #282c34;
}

.h3 {
  color: #007bff;
  float: left;
}

.collapsingContainer {
  width: 100%;
  padding-top: 1%;
  justify-content: center;
  /*Slider NavBar*/
  text-align: center;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #282c34;
}

.ul {
  list-style: none;
  background-color: #282c34;
}

.li {
  padding-top: 10px;
  padding-bottom: 2%;
  background-color: #282c34;
}

.h5 {
  font-weight: bold;
  font-style: italic;
  color: #61dafb;
  background-color: #282c34;
}

.a {
  color: #61dafb;
}

#navBarButton {
  float: right;
  margin-bottom: 3%;
}

#menuIconContainer {
  cursor: pointer;
  float: right;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
