.swiper-container {
  width: 100%;
  height: 31vw;
  background-color: rgb(255, 255, 255);
}

.img {
  width: 800px;
  height: 420px;
}

.swiper-button-prev,
.swiper-button-next {
  transform: translateX(0);
  opacity: 1;
  visibility: hidden;
}

.swiper-container:hover > .swiper-button-prev {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.swiper-container:hover > .swiper-button-next {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
